
.l-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.l-container__left{
    background-color: #e5ea1d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
}

.l-container__left__content{
    width: 450px;
    /* border: 2px solid red; */
}

#logo{
    width: 415px;
}

.l-container__left h1{
    padding: 20px;
    margin: 0 50px;
    color: #030303;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
}

.l-container__left p{
    color: #030303;
    font-size: 16px;
    font-family: "Poppins";
    text-align: center;
    margin: 0 70px;

}

.l-container__right{
    width: 50vw;
    height: 50vh;

}

.l-container__right{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid blue; */
}

.l-container__right__top{
    display: flex;
    justify-content: flex-end;
    width: 50vw;
    height: 40vh;
    margin-right: 10em;
    margin-top: 1em;
}

.l-container__right__logo{
    margin: 20px;
    width: 100px;
    height: 100px;
}

form{
    display: flex;
    flex-direction: column;
}

.l-container__right__login h1{
    color: #1e1f26;
    font-size: 32px;
    font-family: "Poppins";
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 10px;
}

.l-container__right__login--email,
.l-container__right__login--password{
    display: flex;
    flex-direction: column;
}

label{
    color: #1e1f26;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 18px;
    margin: 10px 0;
}

input {
    top: 360px;
    left: 904px;
    width: 352px;
    height: 48px;
    padding: 0px 8px;
    border: 1px solid #ccccd1;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(249,249,249,0.86);
    color: #1d1d1f;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 20px;
    outline: none;
}

button {
    cursor: pointer;
    top: 554px;
    left: 904px;
    width: 352px;
    height: 56px;
    padding: 0px 8px;
    border: 1px solid #1d1d1f;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #ffffff;
    color: #1d1d1f;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 20px;
    outline: none;
    margin-top: 35px;
  }

a{
    color: #1d1d1f;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 18px;
    text-decoration: none;
    margin-top: 10px;
}
.has-error input {
    border-color: red;
  }

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Rresposividade */

@media only screen and (max-width: 800px){
    .l-container__left{
        display: none;
    }
    .l-container__right{
        width: 100vw;
    }
    .l-container__right__top{
        justify-content: center;
        margin-top: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 380px){
    input{
        width: 252px;
    }
    button{
        width: 252px;
    }

}
